body {
    font-family: Arial, sans-serif;
    background-color: #113CCF; /* Blue background */
    color: #fff; /* White font color */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-weight: bold;
    margin-top: 40px;
}

select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: auto;
}
